In [12]:
import pandas as pd
from pathlib import Path

In [2]:
dataset = pd.read_csv("../test_emily/MH_merged_cleaned.csv")
dataset.head()

,Unnamed: 0,Entity,Year,Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized,Depressive disorders (share of population) - Sex: Both - Age: Age-standardized,Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized,Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized,Eating disorders (share of population) - Sex: Both - Age: Age-standardized,DALYs (rate) - Sex: Both - Age: Age-standardized - Cause: Depressive disorders,DALYs (rate) - Sex: Both - Age: Age-standardized - Cause: Schizophrenia,DALYs (rate) - Sex: Both - Age: Age-standardized - Cause: Bipolar disorder,DALYs (rate) - Sex: Both - Age: Age-standardized - Cause: Eating disorders,DALYs (rate) - Sex: Both - Age: Age-standardized - Cause: Anxiety disorders
0,0,Afghanistan,1990,0.223206,4.996118,4.713314,0.703023,0.127700,895.22565,138.24825,147.64412,26.471115,440.33000
1,1,Afghanistan,1991,0.222454,4.989290,4.702100,0.702069,0.123256,893.88434,137.76122,147.56696,25.548681,439.47202
2,2,Afghanistan,1992,0.221751,4.981346,4.683743,0.700792,0.118844,892.34973,137.08030,147.13086,24.637949,437.60718
3,3,Afghanistan,1993,0.220987,4.976958,4.673549,0.700087,0.115089,891.51587,136.48602,146.78812,23.863169,436.69104
4,4,Afghanistan,1994,0.220183,4.977782,4.670810,0.699898,0.111815,891.39160,136.18323,146.58481,23.189074,436.76800

In [3]:
mergewith = pd.read_csv("./countries.csv")
mergewith.head()
mergewith.rename(columns={"name":"Entity"}, inplace=True)

In [4]:
mergewith.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    244 non-null    object
 1   latitude   244 non-null    float64
 2   longitude  244 non-null    float64
 3   Entity     245 non-null    object
dtypes: float64(2), object(2)
memory usage: 7.8+ KB

In [5]:
merged = pd.merge(dataset, mergewith, on="Entity")
merged.head()

,Unnamed: 0,Entity,Year,Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized,Depressive disorders (share of population) - Sex: Both - Age: Age-standardized,Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized,Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized,Eating disorders (share of population) - Sex: Both - Age: Age-standardized,DALYs (rate) - Sex: Both - Age: Age-standardized - Cause: Depressive disorders,DALYs (rate) - Sex: Both - Age: Age-standardized - Cause: Schizophrenia,DALYs (rate) - Sex: Both - Age: Age-standardized - Cause: Bipolar disorder,DALYs (rate) - Sex: Both - Age: Age-standardized - Cause: Eating disorders,DALYs (rate) - Sex: Both - Age: Age-standardized - Cause: Anxiety disorders,country,latitude,longitude
0,0,Afghanistan,1990,0.223206,4.996118,4.713314,0.703023,0.127700,895.22565,138.24825,147.64412,26.471115,440.33000,AF,33.93911,67.709953
1,1,Afghanistan,1991,0.222454,4.989290,4.702100,0.702069,0.123256,893.88434,137.76122,147.56696,25.548681,439.47202,AF,33.93911,67.709953
2,2,Afghanistan,1992,0.221751,4.981346,4.683743,0.700792,0.118844,892.34973,137.08030,147.13086,24.637949,437.60718,AF,33.93911,67.709953
3,3,Afghanistan,1993,0.220987,4.976958,4.673549,0.700087,0.115089,891.51587,136.48602,146.78812,23.863169,436.69104,AF,33.93911,67.709953
4,4,Afghanistan,1994,0.220183,4.977782,4.670810,0.699898,0.111815,891.39160,136.18323,146.58481,23.189074,436.76800,AF,33.93911,67.709953

In [6]:
merged.drop(columns=["DALYs (rate) - Sex: Both - Age: Age-standardized - Cause: Depressive disorders", "DALYs (rate) - Sex: Both - Age: Age-standardized - Cause: Schizophrenia", "DALYs (rate) - Sex: Both - Age: Age-standardized - Cause: Bipolar disorder", "DALYs (rate) - Sex: Both - Age: Age-standardized - Cause: Eating disorders", "DALYs (rate) - Sex: Both - Age: Age-standardized - Cause: Anxiety disorders", "country"], inplace=True)
merged.head()

,Unnamed: 0,Entity,Year,Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized,Depressive disorders (share of population) - Sex: Both - Age: Age-standardized,Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized,Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized,Eating disorders (share of population) - Sex: Both - Age: Age-standardized,latitude,longitude
0,0,Afghanistan,1990,0.223206,4.996118,4.713314,0.703023,0.127700,33.93911,67.709953
1,1,Afghanistan,1991,0.222454,4.989290,4.702100,0.702069,0.123256,33.93911,67.709953
2,2,Afghanistan,1992,0.221751,4.981346,4.683743,0.700792,0.118844,33.93911,67.709953
3,3,Afghanistan,1993,0.220987,4.976958,4.673549,0.700087,0.115089,33.93911,67.709953
4,4,Afghanistan,1994,0.220183,4.977782,4.670810,0.699898,0.111815,33.93911,67.709953

In [7]:
merged.rename(columns={"Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized":"Schizophrenia Rate", "Depressive disorders (share of population) - Sex: Both - Age: Age-standardized":"Depression Rate", "Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized":"Anxiety Rate", "Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized":"Bipolar Rate", "Eating disorders (share of population) - Sex: Both - Age: Age-standardized":"ED Rate"}, inplace=True)
merged.head()

,Unnamed: 0,Entity,Year,Schizophrenia Rate,Depression Rate,Anxiety Rate,Bipolar Rate,ED Rate,latitude,longitude
0,0,Afghanistan,1990,0.223206,4.996118,4.713314,0.703023,0.127700,33.93911,67.709953
1,1,Afghanistan,1991,0.222454,4.989290,4.702100,0.702069,0.123256,33.93911,67.709953
2,2,Afghanistan,1992,0.221751,4.981346,4.683743,0.700792,0.118844,33.93911,67.709953
3,3,Afghanistan,1993,0.220987,4.976958,4.673549,0.700087,0.115089,33.93911,67.709953
4,4,Afghanistan,1994,0.220183,4.977782,4.670810,0.699898,0.111815,33.93911,67.709953

In [11]:
merged2 = merged.loc[merged["Year"] == 2019]
merged2.head()

,Unnamed: 0,Entity,Year,Schizophrenia Rate,Depression Rate,Anxiety Rate,Bipolar Rate,ED Rate,latitude,longitude
29,29,Afghanistan,2019,0.217777,4.945168,4.851035,0.699645,0.117414,33.939110,67.709953
59,59,Albania,2019,0.287501,2.460203,3.837537,0.542009,0.136648,41.153332,20.168331
89,89,Algeria,2019,0.249135,4.129681,4.771976,0.756275,0.210603,28.033886,1.659626
119,119,American Samoa,2019,0.303400,2.659042,4.044245,0.279732,0.128156,-14.270972,-170.132217
149,149,Andorra,2019,0.286518,3.607207,5.453410,0.934813,0.520892,42.546245,1.601554

In [ ]:
filepath = Path("mapdata.csv")
filepath.parent.mkdir(parents=True, exist_ok=True)
merged2.to_csv(filepath)